@{
    ViewBag.Title = "Home";
}


<div class="row" id="entrance">
    <div class="col-xs-12">
        <h1>Welcome to the coffee shop!</h1>
        <img src="~/Images/coffee.jpg" />
    </div>
</div>


