
@{
    ViewBag.Title = "UserRegistration";
}

@model CoffeeShop.Models.UserInfo
<form action="/Home/Summary" method="post">
    <p></p>
        <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
                        <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. <strong>;)</strong></small>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter password">
                                <input type="submit" value="Summary" />
                                @*<button type="submit" class="btn bottom-right" onclick="Summary(@CoffeeShop.Models.UserInfo)">Submit</button>*@
                                @*<button type="submit" class="btn bottom-right">Submit</button>*@
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>

